[submodule "subprojects/wlroots"]
	path = subprojects/wlroots
	url = https://github.com/swaywm/wlroots.git
[submodule "subprojects/libliftoff"]
	path = subprojects/libliftoff
	url = https://github.com/emersion/libliftoff.git
[submodule "subprojects/stb"]
	path = subprojects/stb
	url = https://github.com/nothings/stb
